.header-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    /* border-bottom: 1px solid purple; */
    padding: 5px 15px;
    background-color: #74BDCB;
    

}
.header-container>*{
    font-weight: bold;
    font-size: larger;
    color:#FFA384;
    cursor: pointer;
}
.logo{
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}