.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 25px;
  border-bottom: 5px solid dodgerblue;
  margin: 0 25px;
}
.logo {
  height: 50px;
  margin: 2px 15px;
  cursor: pointer;
}
.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  flex-wrap: wrap;
}
.header-items > * {
  margin: 5px 15px;
  font-size: 22px;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.header-items > *:hover {
color: gray;
}

