.main-page{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    background-color: #303030;

}
.card-container{
margin: 15px;
border-radius: 12px;
}
.card-container:hover{
    box-shadow: 6px 6px 8px black;

}